button {
    border: 0;
    font-family: var(--font-text);
    font-size: var(--size-text);
    padding: 0.2rem;
    margin: auto;

    @media (min-width: 768px) {
        padding: 0.5rem;
    }
}

select {
    width: fit-content;
    height: fit-content;
    display: flex;
    text-align: center;
    justify-content: center;
    font: var(--font-text);
    background-color: var(--color-accent);
    color: var(--color-white);
    border-radius: 5px;
    font-weight: 300;
    padding: 0.5rem 1.5rem;
    transition: background-color 0.25s ease, 
                box-shadow 0.25s ease; 
}

select:focus-visible {
    outline: none;
    border: 1px solid var(--color-primary);
}

select:hover:not(:focus) {
    background-color: rgba(206, 175, 175, 0.015); 
    box-shadow: 0 1px 2px rgba(0,0,0,0.05); 
    cursor: pointer;
}
